/*初始化  reset*/  
body,button,dd,dl,dt,h1,h2,h3,h4,h5,h6,input,li,ol,p,td,ul{margin:0;padding:0;}  
body,button,input{font:12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif}  
h1,h2,h3,h4,h5,h6,button,input{font-size:100%}  
ol,ul{list-style:none}  
a{text-decoration:none}  
a:hover{text-decoration:underline}  
fieldset,img{border:0;vertical-align:top;}  
a,button{cursor:pointer;}  
/*清除浮动*/  
.clearfix:before,.clearfix:after {  
	content:"";  
	display:table;  
}  
.clearfix:after{clear:both;}  
.clearfix{  
	*zoom:1;/*IE/7/6*/  
} 



body,html{
	width: 100%;
	height: 100%;
	position: absolute;

}

header{
	width: 1200px;
	height: 200px;
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #FEFCD5;
	border-right-style: solid;
	border-left-style: solid;
	border-top-style: solid;
	border-color: #5F4015;
	margin-top: 2px;


} 

header img{
	width: 100%;
	height: 100%;
}
header div{
	overflow: hidden;
}
#container{
	width: 1200px;
	height: 1350px;
	position: relative;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	left: 0;
	right: 0;
	color: white;
	margin: auto;
	background-color: #1C6C40;
	margin-bottom: 50px;
	border-color: #4C310A;

	text-align: left;


}


#erweima{
	width: 13%;
	height: 80%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 1%;

	box-shadow: 2px 2px 5px 5px #3C3A3A;
	background-size: cover;
	border-radius: 30px;
}

#weixinlogo{

	position: absolute;
	width:4%;
	height: 25%;
	border-radius:15px;
	background-size: cover;
	border-style: solid;
	left: 15%;
	top: 5%;


}


#emaillogo{

	width:4%;
	height: 25%;
	border-radius:15px;
	position: absolute;
	background-size: cover;
	border-style: solid;
	left: 15%;
	top: 65%;

}

#githublogo{

	width:4%;
	height: 25%;
	border-radius:15px;
	position: absolute;
	background-size: cover;
	border-style: solid;
	left: 15%;
	top: 35%;
}

#infocontainer{
	width: 600px;
	height: 100%;
	position: absolute;
	top: 20px;
	left: 240px;
	font-size: 28px;
	color: #2E2D2D;

}

#infocontainer div{
	width: 100%;
	height: 30%;
	position: relative;
}

#infocontainer a{
	color: #2E2D2D;
}

#namediv{
	width: 30%;
	height: 70%;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	font-family: 黑体;
	font-size: 90px;

}

#jobdiv{
	width: 30%;
	height: 40%;
	font-family: 黑体;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 60px;
	text-align: center;
}

#con_left{
	width: 49%;
	height: 1350px;
	position: absolute;
	left: 0;
	top: 0;
	border-right-style: solid;
	font-family:黑体;
}

#con_left p{
	margin-bottom: 20px;
}



#con_left h1{
	font-size: 45px;
	text-indent: 0.5em;
}

#con_left h2{
	font-size: 20px;
	font-family: 行楷;
	text-indent: 40px;
	color: #211B1B;
}

#con_left h3{
	font-size: 25px;
	text-indent: 40px;
	background-color: #302C2C;
	width: 80%;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-bottom: 5px;

}

h3#cet-4{
	width: 399px;
	height: 35px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	margin-bottom: 10px;
}

h3#cet-6{
	width: 347px;
	height: 35px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}

h3#job-exp{

	height: 35px;
	width: 240px;
	color: #FFB1B1;
	margin-bottom: 10px;

}



#con_left h4{
	font-size: 30px;
	text-indent: 80px;

}

#con_left span{
	font-size: 25px;
}

#con_left h5{
	font-size: 18px;
	text-indent: 50px;
}

#con_left h6{
	font-size: 20px;
	text-indent: 40px;
	background-color: #302C2C;
	width: 80%;
	margin-left: 50px; 
	margin-bottom: 10px;
	border-radius: 15px;
	font-weight: normal;
	padding: 10px;

}

#con_left i{
	font-style: normal;
	color: #66d9ef;
}

#con_left i.not_finish{
	color: #fefcd5;
}

#con_left em{
	font-style: normal;
	color: #7fe22e;
	font-family: 黑体;
}



#con_left form{
	height: 40px;
	width: 70%;

	position: relative;
	left: 10px;
	margin-bottom: 20px;
}

#con_left form a{
	font-size: 22px;
	color: #32EDED;

}

#con_left form a:hover{
	text-decoration: none;

}

#con_left div{
	border-style: none;
	height: 100%;
	font-size: 25px;
	width: 70px;
	margin-left: 30px;
	margin-right: -25px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	text-align: center;
	background-color: #302c2c;
	color: #32EDED;
	float: left;
}

#con_left div:hover{

	height: 110%;
	width: 77px;
	transition-property: height width;
	transition-duration: 0.5s;
}




#con_right{
	width: 49%;
	height: 1320px;
	position: absolute;
	right: 0;
	top: 0;
	border-left-style: solid;
	font-family:黑体;

}

#con_right p{
	margin-bottom: 5px;
	font-size: 20px;
}



#con_right h1{
	font-size: 45px;
	text-indent: 0.5em;
}

#con_right h2{
	font-size: 20px;
	font-family: 行楷;
	text-indent: 40px;
	color: #211B1B;
}

#con_right h3{
	font-size: 30px;
	text-indent: 40px;
	background-color: #302C2C;
	width: 80%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-bottom: 5px;

}






#con_right h4{
	font-size: 30px;
	text-indent: 40px;

}

#con_right span{
	font-size: 25px;
}

#con_right h5{
	font-size: 18px;
	text-indent: 65px;
}
#con_right h5#not{
	color: #9c2601;
}

#con_right h6{
	font-size: 20px;
	text-indent: 40px;
	background-color: #302C2C;
	width: 80%;
	margin-right: 50px; 
	margin-bottom: 10px;
	border-radius: 15px;
	font-weight: normal;
	padding: 10px;

}

#con_right i{
	font-style: normal;
	color: #66d9ef;
}

#con_right i.not_finish{
	color: #fefcd5;
}

#con_right em{
	font-style: normal;
	color: #7fe22e;
	font-family: 黑体;
}



#con_right form{
	height: 40px;
	width: 70%;

	position: relative;
	right: 10px;
	margin-bottom: 20px;
}

#con_right form a{
	font-size: 22px;
	color: #32EDED;

}

#con_right form a:hover{
	text-decoration: none;

}

#con_right div{
	border-style: none;
	height: 100%;
	font-size: 25px;
	width: 70px;
	margin-left: 30px;
	margin-right: -25px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	text-align: center;
	background-color: #302c2c;
	color: #32EDED;
	float: left;
}

#con_left div:hover{

	height: 110%;
	width: 77px;
	transition-property: height width;
	transition-duration: 0.5s;
}